@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color-principal: #FF8F46;
    --color-secundario: #46B6FF;
    --color-secundario-hover: #2facff;
    --color-subtitulos: #6C6C6C;
    --color-texto: #949494;

    --tamaño-fuente-titulos: 30px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'PT Sans', sans-serif;
}

.homePage{
    display: grid;
    grid-template-columns: 1fr;
}