@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color-principal: #FF8F46;
    --color-secundario: #46B6FF;
    --color-subtitulos: #6C6C6C;
    --color-texto: #949494;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'PT Sans', sans-serif;
}

.homePage{
    display: grid;
    grid-template-columns: 1fr;
}
.prueba{
    height: 1400px;
    display: flex;
    justify-content: flex-start;
}
.prueba__2{
    margin-top: 100px;
    margin-left: 200px;
    background-image: url('../assets/imagenes/biblioteca.jpg');
    background-attachment: fixed;
    background-size: 700px;
    background-position: 0 ;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    border-radius: 15px;
}